<div>
  <h2>Graphite</h2>
</div>
{{range .DataSources}}
  <div class="js-datasource graphite">
    <div class="revere-row">
      <div class="col-sm-1">
        <input type="checkbox" class="form-control hide required" name="delete" data-json-type="Boolean">
        <button class="js-remove-datasource btn btn-default btn-block">x</button>
      </div>
      <input type="hidden" class="form-control required" name="id" data-json-type="Number" value="{{.DataSource.Id}}">
      <input type="hidden" class="form-control required" name="sourceTypeId" data-json-type="Number" value="{{.DataSourceType.Id}}">
      <label class="col-sm-1 control-label" for="url">Url</label>
      <div class="col-sm-4">
        <input type="text" class="form-control source" name="url" value={{.Info.Url}}>
      </div>
    </div>
  </div>
{{end}}
<div>
  <button type="button" class="js-add-source btn btn-default" data-sourceref="graphite">+ Add</button>
  <br>
</div>
