[submodule "vendor/github.com/GeertJohan/go.rice"]
	path = vendor/github.com/GeertJohan/go.rice
	url = https://github.com/GeertJohan/go.rice
[submodule "vendor/github.com/Sirupsen/logrus"]
	path = vendor/github.com/Sirupsen/logrus
	url = https://github.com/Sirupsen/logrus
[submodule "vendor/github.com/braintree/manners"]
	path = vendor/github.com/braintree/manners
	url = https://github.com/braintree/manners
[submodule "vendor/github.com/daaku/go.zipexe"]
	path = vendor/github.com/daaku/go.zipexe
	url = https://github.com/daaku/go.zipexe
[submodule "vendor/github.com/go-sql-driver/mysql"]
	path = vendor/github.com/go-sql-driver/mysql
	url = https://github.com/go-sql-driver/mysql
[submodule "vendor/github.com/jmoiron/sqlx"]
	path = vendor/github.com/jmoiron/sqlx
	url = https://github.com/jmoiron/sqlx
[submodule "vendor/github.com/juju/errors"]
	path = vendor/github.com/juju/errors
	url = https://github.com/juju/errors
[submodule "vendor/github.com/julienschmidt/httprouter"]
	path = vendor/github.com/julienschmidt/httprouter
	url = https://github.com/julienschmidt/httprouter
[submodule "vendor/github.com/kardianos/osext"]
	path = vendor/github.com/kardianos/osext
	url = https://github.com/kardianos/osext
