<div class="js-setting-section" data-endpoint="/settings/{{.Id}}/save">
  <h4 class="setting-section-title">Outgoing Email Configuration</h4>
  <div class="revere-row">
    <div class="col-md-6 setting-label">"From" Name:</div>
    <div class="col-md-6"><input type="text" class="js-setting-input" name="fromName" value="{{.FromName}}"/></div>
  </div>
  <div class="revere-row">
    <div class="col-md-6 setting-label">"From" Email:</div>
    <div class="col-md-6"><input type="text" class="js-setting-input" name="fromEmail" value="{{.FromEmail}}"/></div>
  </div>
  <div class="revere-row">
    <div class="col-md-6 setting-label">Subject Line Prefix:</div>
    <div class="col-md-6"><input type="text" class="js-setting-input" name="subjectLinePrefix" value="{{.SubjectLinePrefix}}"/></div>
  </div>
  <div class="revere-row">
    <div class="col-md-6 setting-label">SMTP Server:</div>
    <div class="col-md-6"><input type="text" class="js-setting-input" name="smtpServer" value="{{.SmtpServer}}"/></div>
    <hr/>
    <button class="btn btn-primary pull-right submit-settings-button" type="submit">Save</button>
</div>
