body {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	color: #555;
}

h1,
h2,
strong {
	color: #333;
}

.silence-datepicker {
	display: none;
}

.buttons > button {
	margin-left: 10px;
}

.new-btn {
	margin-top: 10px;
	float: right;
}

.edit-btn {
	float: right;
}

.index-headers {
	overflow: hidden;
}

.index-header {
	display: inline-block;
}

.config-label {
	width: 150px;
}

.config-input {
	width: 250px;
}

#triggerIf {
	width: inherit;
}

.revere-row {
	padding: 10px 15px;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}

.revere-row > div {
	word-wrap: break-word;
}

.silenced {
	-webkit-filter: saturate(25%) opacity(80%);
	filter: saturate(25%) opacity(80%);
}

.monitor-header {
	margin-bottom: 2px;
}

.archived {
	text-decoration: line-through;
}

.monitor-version {
	color: #707070;
	font-size: 30px;
}

.monitor-subheading {
	color: #707070;
	margin-top: 0px;
	margin-bottom: 10px;
}

.monitor-subheading > * {
	margin-top: 0;
	margin-bottom: 0;
}

.trigger {
	padding-bottom: 50px;
}

.silences-headers > * {
	display: inline-block;
}

.silences-headers {
	overflow: hidden;
}

.silence-form {
	display: inline-block;
	width: 200px;
}

.unknown {
	background-color: #ffebcc;
}

.critical {
	background-color: #404040;
	color: #ff0000;
}

.sentence-label, .control-label.sentence-label {
	text-align: left;
}

.field-label {
	font-weight: bold;
}
