.silence-datepicker {
	display: none;
}

.buttons > button {
	margin-left: 10px;
}

.new-btn {
	margin-top: 10px;
	float: right;
}

.edit-btn {
	float: right;
}

.monitors-headers {
	overflow: hidden;
}

.monitors-header {
	display: inline-block;
}

.config-label {
	width: 150px;
}

.config-input {
	width: 250px;
}

#triggerIf {
	width: inherit;
}

.revere-row {
	margin: 10px auto;
	padding: 10px 0;
	border-bottom: #ddd 1px solid;
	overflow: hidden;
}

.revere-row > div {
	word-wrap: break-word;
}
