{{with .Probe}}
<div id="js-graphite-threshold">
  <input id="js-graphite-threshold-probe-type" type="hidden" value="{{.Id}}">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="Expression">Graphite expression</label>
    <div class="col-sm-10">
      <input id="expression" type="text" class="form-control" name="Expression" value="{{.Expression}}">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Thresholds</label>
    <label class="col-sm-1 control-label">Warning</label>
    <div class="col-sm-1">
      <input type="text" class="js-threshold form-control" data-json-type="Number" name="Warning" value="{{.Thresholds.Warning}}">
    </div>
    <label class="col-sm-1 control-label">Error</label>
    <div class="col-sm-1">
      <input type="text" class="js-threshold form-control" data-json-type="Number" name="Error" value="{{.Thresholds.Error}}">
    </div>
    <label class="col-sm-1 control-label">Critical</label>
    <div class="col-sm-1">
      <input type="text" class="js-threshold form-control" data-json-type="Number" name="Critical" value="{{.Thresholds.Critical}}">
    </div>
    <label class="col-sm-1 control-label" for="URL">Graphite</label>
    <div class="col-sm-3">
      <select id="js-datasources" class="form-control" name="URL" data-url={{.URL}}>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="CheckPeriod">Check every</label>
    <div class="col-sm-2">
      <input type="number" min="1" class="form-control" name="CheckPeriod" data-json-type="Number" value="{{.CheckPeriod}}" placeholder="5">
    </div>
    <div class="col-sm-2">
      <select class="form-control" name="CheckPeriodType">
        <option value="second" {{if strEq .CheckPeriodType "second"}}selected{{end}}>Second(s)</option>
        <option value="minute" {{if strEq .CheckPeriodType "minute"}}selected{{end}}>Minute(s)</option>
        <option value="hour" {{if strEq .CheckPeriodType "hour"}}selected{{end}}>Hour(s)</option>
        <option value="day" {{if strEq .CheckPeriodType "day"}}selected{{end}}>Day(s)</option>
      </select>
    </div>
    <label class="col-sm-2 sentence-label control-label" for="AuditFunction">and trigger if the</label>
    <div class="col-sm-2">
      <select class="form-control" name="AuditFunction">
        <option value="min" {{if strEq .AuditFunction "min"}}selected{{end}}>Min</option>
        <option value="max" {{if strEq .AuditFunction "max"}}selected{{end}}>Max</option>
        <option value="avg" {{if strEq .AuditFunction "avg"}}selected{{end}}>Avg</option>
      </select>
    </div>
    <label class="col-sm-1 control-label" for="AlertPeriod">of the last</label>
  </div>
  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
      <input type="number" min="1" class="form-control" name="AuditPeriod" data-json-type="Number" value="{{.AuditPeriod}}" placeholder="5">
    </div>
    <div class="col-sm-2">
      <select class="form-control" name="AuditPeriodType">
        <option value="second" {{if strEq .AuditPeriodType "second"}}selected{{end}}>Second(s)</option>
        <option value="minute" {{if strEq .AuditPeriodType "minute"}}selected{{end}}>Minute(s)</option>
        <option value="hour" {{if strEq .AuditPeriodType "hour"}}selected{{end}}>Hour(s)</option>
        <option value="day" {{if strEq .AuditPeriodType "day"}}selected{{end}}>Day(s)</option>
      </select>
    </div>
    <label class="col-sm-3 sentence-label control-label" for="TriggerIf">of values from Graphite was,</label>
    <div class="col-sm-1">
      <select class="form-control" name="TriggerIf">
        <option value="<" {{if strEq .TriggerIf "<"}}selected{{end}}>&lt;</option>
        <option value="<=" {{if strEq .TriggerIf "<="}}selected{{end}}>&lt;=</option>
        <option value=">" {{if strEq .TriggerIf ">"}}selected{{end}}>&gt;</option>
        <option value=">=" {{if strEq .TriggerIf ">="}}selected{{end}}>&gt;=</option>
      </select>
    </div>
    <label class="col-sm-2 sentence-label control-label">the threshold</label>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="IgnoredPeriod">ignoring</label>
    <div class="col-sm-2">
      <input type="number" min="0" class="form-control" name="IgnoredPeriod" data-json-type="Number" value="{{.IgnoredPeriod}}" placeholder="0">
    </div>
    <div class="col-sm-2">
      <select class="form-control" name="IgnoredPeriodType">
        <option value="second" {{if strEq .IgnoredPeriodType "second"}}selected{{end}}>Second(s)</option>
        <option value="minute" {{if strEq .IgnoredPeriodType "minute"}}selected{{end}}>Minute(s)</option>
        <option value="hour" {{if strEq .IgnoredPeriodType "hour"}}selected{{end}}>Hour(s)</option>
        <option value="day" {{if strEq .IgnoredPeriodType "day"}}selected{{end}}>Day(s)</option>
      </select>
    </div>
    <label class="col-sm-6 sentence-label">of the most recent values</label>
  </div>
</div>
<hr>
<div id="js-preview" class="form-group">
  <label class="col-sm-2 control-label">Preview Period</label>
  <div class="col-sm-4">
    <div class="form-group">
      <div class="col-sm-1">
        <input type="radio" name="PreviewPeriod" value="last" checked>
      </div>
      <label class="col-sm-2 control-label">Last</label>
      <div class="col-sm-4">
        <input type="number" min="1" class="form-control js-last-period" name="LastPeriod" data-json-type="Number" value="1">
      </div>
      <div class="col-sm-5">
        <select class="form-control js-last-period" name="LastPeriodType">
          <option value="s">Second(s)</option>
          <option value="min">Minute(s)</option>
          <option value="h">Hour(s)</option>
          <option value="d" selected>Day(s)</option>
          <option value="w">Week(s)</option>
          <option value="mon">Month(s)</option>
          <option value="y">Year(s)</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-1">
        <input type="radio" name="PreviewPeriod" value="range">
      </div>
      <label class="col-sm-2 control-label">From</label>
      <div id="js-datetimepicker-from" class="col-sm-9 input-group date">
        <input type="text" class="form-control js-range-period" name="RangeFrom" disabled>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Until</label>
      <div id="js-datetimepicker-until" class="col-sm-9 input-group date">
        <input type="text" class="form-control js-range-period" name="RangeUntil" disabled>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
    <div class="form-group">
      <button id="js-preview-btn" class="btn btn-primary pull-right">Preview</button>
    </div>
  </div>
  <div class="col-sm-6">
    <img id="js-preview-img" class="img-responsive" src="">
    <p id="js-preview-error" class="hidden">Unable to load image, check your datasource and graphite expression</p>
  </div>
</div>
{{end}}
