{{template "_header.html" setTitle . "Active Issues"}}
{{with ._}}
  {{$States := .States}}
  <div class="active-issues-headers">
    <h1 class="active-issues-header">Active Issues</h1>
  </div>
  {{template "label-filter.html" .}}
  <div>
    <div class="revere-row">
      <div class="col-md-3">Monitor Name</div>
      <div class="col-md-2">Subprobe Name</div>
      <div class="col-md-2">State</div>
      <div class="col-md-2">Duration</div>
      <div class="col-md-3">Labels</div>
    </div>
    {{range .Subprobes}}
      {{$monitorID := .MonitorID}}
      <div class="revere-row
      {{if eq .Status.State.String "Warning"}}
        bg-warning
      {{else if eq .Status.State.String "ERROR"}}
        bg-danger
      {{else if eq .Status.State.String "CRITICAL"}}
        bg-critical
      {{else}}
        bg-unknown
      {{end}}">
        <div class="col-md-3">
          <a class="{{if .Archived}}archived{{end}}" href="/monitors/{{$monitorID}}">{{.MonitorName}}</a>
        </div>
        <div class="col-md-2">
          <a class="{{if .Archived}}archived{{end}}" href="/monitors/{{$monitorID}}/subprobes/{{.SubprobeID}}">{{.Name}}</a>
        </div>
        <div class="col-md-2">{{.Status.State}}</div>
        <div class="col-md-2">
          <span class="js-subprobe-entered-state" data-toggle="tooltip" title="{{.Status.EnteredState}}">{{.Status.FmtEnteredState}}</span>
        </div>
        <div class="col-md-3">
          {{range index $._.MonitorLabels $monitorID}}
            <span class="label label-primary">{{.Label.Name}}</span>
          {{end}}
        </div>
      </div>
    {{else}}
      None yet!
    {{end}}
  </div>
{{end}}
{{template "_footer.html" .}}
