{{define "active-issues-table"}}
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-3">Monitor Name</th>
          <th class="col-md-2">Subprobe Name</th>
          <th class="col-md-2">State</th>
          <th class="col-md-2">Duration</th>
          <th class="col-md-2">Labels</th>
          <th class="col-md-1">Silence</th>
        </tr>
      </thead>
      <tbody>
        {{range .Subprobes}}
          {{$monitorID := .MonitorID}}
          <tr class="{{if .Status.Silenced}}silenced{{end}} {{stateClass .Status.State}}">
            <td class="col-md-3">
              <a class="{{if .Archived}}archived{{end}}" href="/monitors/{{$monitorID}}">{{.MonitorName}}</a>
            </td>
            <td class="col-md-2">
              <a class="{{if .Archived}}archived{{end}}" href="/monitors/{{$monitorID}}/subprobes/{{.SubprobeID}}">{{.Name}}</a>
            </td>
            <td class="col-md-2">
              {{.Status.State}}
            </td>
            <td class="col-md-2">
              <span class="js-subprobe-entered-state" data-toggle="tooltip" title="{{.Status.EnteredState}}">{{.Status.FmtEnteredState}}</span>
            </td>
            <td class="col-md-2">
              {{range index $.MonitorLabels $monitorID}}
                <span class="label label-primary">{{.Label.Name}}</span>
              {{end}}
            </td>
            <td class="col-md-2">
              <a href="/redirectToSilence?subprobe={{.Name}}&id={{.MonitorID}}">
                <span class="glyphicon glyphicon-volume-off"></span>
              </a>
            </td>
          </tr>
        {{end}}
      </tbody>
    </table>
  </div>
{{end}}

{{template "_header.html" setTitle . "Active Issues"}}
{{with ._}}
  <div class="index-headers">
    <h1 class="index-header">Active Issues</h1>
    {{if .Subprobes}}
      {{template "label-filter.html" .}}
      {{template "active-issues-table" .}}
    {{else}}
      <h2 class="col-sm-offset-1">No issues!</h2>
    {{end}}
  </div>
{{end}}
{{template "_footer.html" .}}
