{{template "header.html" "monitors"}}
<div class="monitors-headers">
  <h1 class="monitors-header">monitors</h1>
  <a href="/configs/new" class="btn-lg btn-success new-btn">+ new</a>
</div>
{{template "flash.html" .Flash}}
<div class="table-responsive">
  <table class="table">
  <thead>
    <tr><td>name</td><td>configuration</td><td>emails</td><td>edit</td></tr>
  </thead>
  <tbody>
    {{range .Configs}}
    <tr><td>{{.Name}}</td><td>{{.Config}}</td><td>{{.Emails}}</td><td><a href="/configs/edit?id={{.Id}}" class="btn-lg btn-success new-btn">Edit</a></td></tr>
    {{end}}
  </tbody>
  </table>
</div>
{{template "footer.html"}}
