{{template "header.html" dict "Title" "configs"}}
<div class="monitors-headers">
  <h1 class="monitors-header">configs</h1>
  <a href="/configs/new" class="btn-lg btn-success new-btn">+ new</a>
</div>
{{template "flash.html" .Flash}}
<div class="configs">
  <div class="revere-row"><div class="col-md-2">name</div><div class="col-md-6">configuration</div><div class="col-md-3">emails</div><div class="col-md-1">edit</div></div>
  {{range .Configs}}
    <div class="revere-row"><div class="col-md-2">{{.Name}}</div><div class="col-md-6">{{.Config}}</div><div class="col-md-3">{{.Emails}}</div><div class="col-md-1"><a href="/configs/{{.Id}}/edit" class="btn-lg btn-success edit-btn">Edit</a></div></div>
  {{end}}
</div>
{{template "footer.html"}}
