{{template "_header.html" setTitle . "Data Sources"}}
<div class="index-header">
  <h1 class="index-header">Data Sources</h1>
</div>
<div id="js-errors">
  <div class="js-error alert alert-danger hidden"></div>
</div>
<div>
  <form id="js-datasources-form" class="form-horizontal" method="post" action="/datasources">
    <div id="js-sources" class="hidden">
      {{range $._Array}}
         {{._Render}}
      {{end}}
    </div>
    <div>
      {{range $id, $name := ._}}
          <div class="js-source-type" js-source-type={{$id}}>
                <h2>{{$name}}</h2>
                <button type="button" class="js-add-source btn btn-default">+ Add</button>
          </div>
      {{end}}
    </div>
    <br/>
    <div class="form-group">
      <input type="submit" class="btn-lg btn-success" value="Save">
    </div>
  </form>
</div>
{{template "_footer.html" .}}
