{{template "_header.html" setTitle . "Monitors"}}
{{define "subprobes"}}
  <label class="col-sm-2 control-label" for="subprobes">Subprobes</label>
  <div class="col-sm-4">
    <input type="text" class="form-control" name="subprobes" value="{{.}}">
  </div>
{{end}}
{{with ._}}
  <h1>{{if .Name}}Edit{{else}}New{{end}} Monitor</h1>
  <div id="js-errors">
    <div class="js-error alert alert-danger hidden"></div>
  </div>
  <form id="js-monitor-form" action="/monitors/new/edit" class="form-horizontal" method="POST">
    {{/* Basic Monitor Info */}}
    <div id="js-monitor-info">
      <input type="hidden" class="form-control" data-json-type="Number" name="id" value="{{.Id}}">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="name">Name</label>
        <div class="col-sm-10">
          <input id="name" type="text" class="form-control" name="name" value="{{.Name}}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="owner">Owner</label>
        <div class="col-sm-10">
          <input id="owner" type="text" class="form-control" name="owner" value="{{.Owner}}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="description">Description</label>
        <div class="col-sm-10">
          <textarea id="description" class="form-control" rows="4" name="description">{{.Description}}</textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="response">Alert response</label>
        <div class="col-sm-10">
          <textarea id="response" class="form-control" rows="4" name="response">{{.Response}}</textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="probeType">Probe</label>
        <div class="col-sm-10">
          <select id="#js-probe-type" class="form-control" data-json-type="Number" name="probeType">
            {{range probes}}
              <option value="{{.Id}}" {{if eq $._.GetProbeType.Id .Id}}selected{{end}}>{{.Name}}</option>
            {{end}}
          </select>
        </div>
      </div>
    </div>
    {{/* Probe */}}
    {{with $.Probe._Render}}
      <div id="js-probe">
        {{.}}
      </div>
    {{end}}
    {{/* Triggers */}}
    <h2>Triggers</h2>
    <div id="triggers">
      {{template "triggers-edit.html" $.Triggers}}
    </div>
    <div class="form-group">
      <input type="submit" class="btn-lg btn-success" value="Save">
    </div>
  </form>
{{end}}
{{template "_footer.html" .}}
