{{template "_header.html" setTitle . "Monitors"}}
{{with ._}}
  <h1 class="monitor-header">
    <span class="monitor-title {{if .Archived}}archived{{end}}">{{.Name}}</span>
    <span class="monitor-version">v{{.Version}}</span>
    <span><a class="btn btn-primary" href="/monitors/{{.Id}}/edit" role="button">Edit</a></span>
  </h1>
  <div class="monitor-subheading">
    <h5>{{.Owner}}</h5>
    <h5>{{.Changed}}</h5>
    {{if .Archived}}
    <h5>Archived: {{.Archived}}</h5>
    {{end}}
  </div>
  <h4>Description:</h4>
  <p>{{.Description}}</p>
  <h4>Alert Response:</h4>
  <p>{{.Response}}</p>
  {{with $.Probe._Render}}
    <p>{{.}}</p>
  {{else}}
    <h4>Probe:</h4>
    <p><a href="{{.Id}}/edit">Not yet configured</a></p>
  {{end}}
  <h3><a href="{{.Id}}/subprobes">subprobes</a></h3>
  <h2>Triggers</h2>
  {{template "triggers-view.html" $.Triggers}}
  <h2>Labels</h2>
  {{template "label-monitors-view.html" $.LabelMonitors}}
{{end}}
{{template "_footer.html" .}}
