{{template "_header.html" setTitle . "Monitors"}}
<div class="index-headers">
  <h1 class="index-header">Monitors</h1>
  <a href="/monitors/new/edit" class="btn btn-success new-btn">+ new</a>
</div>
<div>
  <div class="revere-row">
    <div class="col-md-3">Name</div>
    <div class="col-md-9">Description</div>
  </div>
  {{range ._}}
    <div class="revere-row">
      <div class="col-md-3">
        <a href="/monitors/{{.Id}}">{{.Name}}</a>
      </div>
      <div class="col-md-9">{{.Description}}</div>
    </div>
  {{else}}
    <h4>There are no existing monitors.</h4>
  {{end}}
</div>
{{template "_footer.html"}}
