{{template "_header.html" setTitle . "Monitors"}}
{{define "subprobe"}}
  <label class="col-sm-2 control-label" for="Subprobes">Subprobes</label>
  <div class="col-sm-4">
    <input type="text" class="form-control" name="Subprobes" value="{{.Subprobes}}">
  </div>
{{end}}
{{with ._}}
  <h1>{{if .Name}}Edit{{else}}New{{end}} Monitor</h1>
  <div id="js-errors">
    <div class="js-error alert alert-danger hidden"></div>
  </div>
  <form id="js-monitor-form" action="/monitors/new/edit" class="form-horizontal" method="POST">
    {{/* Basic Monitor Info */}}
    <div id="js-monitor-info">
      <input type="hidden" class="form-control" data-json-type="Number" name="MonitorId" value="{{.MonitorId}}">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="Name">Name</label>
        <div class="col-sm-10">
          <input id="name" type="text" class="form-control" name="Name" value="{{.Name}}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="Owner">Owner</label>
        <div class="col-sm-10">
          <input id="owner" type="text" class="form-control" name="Owner" value="{{.Owner}}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="Description">Description</label>
        <div class="col-sm-10">
          <textarea id="description" class="form-control" rows="4" name="Description">{{.Description}}</textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="Response">Alert response</label>
        <div class="col-sm-10">
          <textarea id="response" class="form-control" rows="4" name="Response">{{.Response}}</textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="ProbeType">Probe</label>
        <div class="col-sm-10">
          <select id="#js-probe-type" class="form-control" data-json-type="Number" name="ProbeType">
            {{range probeTypes}}
              <option value="{{.Id}}" {{if eq $._.ProbeType .Id}}selected{{end}}>{{.Name}}</option>
            {{end}}
          </select>
        </div>
      </div>
    </div>
    {{/* Probe */}}
    {{with $.Probe._Render}}
      <div id="js-probe">
        {{.}}
      </div>
    {{end}}
    {{/* Triggers */}}
    <h2>Triggers</h2>
    <div id="triggers">
      {{template "triggers-edit.html" $.Triggers}}
    </div>
    {{/* Labels */}}
    <h2>Labels</h2>
    <div id="labels">
      {{template "monitor-labels-edit.html" $.MonitorLabels}}
    </div>
    <div class="form-group">
      <input type="submit" class="btn-lg btn-success" value="Save">
    </div>
  </form>
{{end}}
{{template "_footer.html" .}}
