{{template "_header.html" setTitle . "Monitors"}}
{{with ._}}
  <div class="index-headers">
    <h1 class="index-header">Monitors</h1>
    <a href="/monitors/new/edit" class="btn btn-success new-btn">+ new</a>
  </div>
  {{template "label-filter.html" .}}
  <div>
    <div class="revere-row">
      <div class="col-md-3">Name</div>
      <div class="col-md-5">Description</div>
      <div class="col-md-4">Labels</div>
    </div>
    {{range .Monitors}}
      <div class="revere-row">
        <div class="col-md-3">
          <a href="/monitors/{{.MonitorId}}">{{.Name}}</a>
        </div>
        <div class="col-md-5">{{.Description}}</div>
        <div class="col-md-4">
          {{range .Labels}}
            <span class="label label-primary">{{.Name}}</span>
          {{end}}
        </div>
      </div>
    {{else}}
      <h4>There are no existing monitors.</h4>
    {{end}}
  </div>
{{end}}
{{template "_footer.html" .}}
