{{template "header.html" "readings"}}
<h1>readings</h1>

<div class="table-responsive">
  <table class="table">
  <thead>
      <tr ><td>config name</td><td>subprobe</td><td>time</td><td>state</td></tr>
  </thead>
  <tbody>
    {{range .Readings}}
        {{if .IsCurrent}}
          {{if eq .State 0}}
            <tr class="success">
          {{else}}
            <tr class="danger">
          {{end}}
        {{else}}
          <tr>
        {{end}}
        <td>{{.ConfigName}}</td><td>{{.Subprobe}}</td><td>{{.Time}}</td><td>{{.State}}</td></tr>
    {{end}}
  </tbody>
  </table>
</div>
{{template "footer.html"}}