{{template "header.html" "readings"}}
<h1>readings</h1>

<div class="table-responsive">
  <table class="table">
  <thead>
      <tr class="headers"><td>config name</td><td>subprobe</td><td>read time</td><td>state</td><td>silence time</td><td class="buttons"></td></tr>
  </thead>
  <tbody>
    {{range .Readings}}
        {{if .IsCurrent}}
          {{if eq .State 0}}
            <tr class="success">
          {{else}}
            <tr class="danger">
          {{end}}
        {{else}}
          <tr>
        {{end}}
        <td>{{.ConfigName}}</td><td>{{.Subprobe}}</td><td>{{.Time}}</td><td>{{.State}}</td><td class="datepicker-target">{{.SilenceTime}}</td><td class="buttons"><button type="button" class="silence-btn btn btn-xs" data-configid="{{.ConfigId}}" data-subprobe="{{.Subprobe}}">Silence</button></td></tr>
    {{end}}
  </tbody>
  </table>
</div>


<div style="display: none;">
  {{template "datetimepicker.html"}}
</div>

{{define "MoreScripts"}}
<script type="text/javascript">
  $(document).ready(function(){
    var cancelFunc = function() {
      var $this = $(this);
      var $dp = $this.parent().siblings('.datepicker-target').children('.silence-datepicker');
      if ($dp.length) {
        var $silence = $this.siblings();
        $silence.removeClass('btn-danger');
        $this.fadeOut(function() {
          $this.remove();
        });
        $this.parent().animate({width: 'initial'}, 500);
        $dp.animate({width:'hide'}, 500, function() {
          $(this).remove();
        });
      }
    }
    $('.silence-btn').click(function(){
      var $this = $(this);
      var $dptd = $this.parent().siblings('td.datepicker-target');
      if (!$this.hasClass('btn-danger')) {
        var $dp = $('#silence-datepicker').clone();
        $dp.removeAttr('id');
        $dp.datetimepicker({
          useCurrent: false,
          defaultDate: moment().add(1, 'hours'),
          minDate: moment(),
          maxDate: moment().add(14, 'days')
        });
        $dptd.html($dp);
        $dp.data('configid', $this.data('configid'))
        $dp.data('subprobe', $this.data('subprobe'))

        var $cancel = $this.clone();
        $this.addClass('btn-danger');
        $cancel.removeClass('silence-btn');
        $cancel.html('Cancel');
        $cancel.click(cancelFunc);
        $cancel.hide();
        $this.after($cancel);
        $cancel.fadeIn();

        $dp.children('.calendar-icon').hide();
        $dp.animate({width:'350px'}, 500, function() {
          $dp.css('display', 'table');
          $dp.children('.calendar-icon').show();
        });
      } else {
        var $dp = $dptd.children('.silence-datepicker');
        var data = {
          configId: $dp.data('configid'),
          subprobe: $dp.data('subprobe'),
          silenceTime: $dp.data('DateTimePicker').date().utc().format('MM/DD/YYYY h:mm A Z')
        }
        $.ajax('/silence', {
          method: 'POST',
          data: data,
          success: function(d) {
            $this.siblings().click();
            $dptd.html($dp.data('DateTimePicker').date().format('MM/DD/YYYY h:mm A'));
          },
          error: function(d) {
          {{/* TODO(dp): make this a better UX */}}
            alert('Error silencing alert\n' + d);
          }
        });
      }
    });
  });
</script>
{{end}}

{{template "footer.html"}}