{{template "_header.html" setTitle . "Settings"}}
{{with ._.SaveStatus}}
  <div class="js-valid-input alert alert-success">
    <p>Successfully {{.}} setting(s)</p>
  </div>
{{end}}
<div class="index-headers">
  <h1 class="index-header">Settings</h1>
</div>
<hr/>
<div id="js-errors">
  <div class="js-error alert alert-danger hidden"></div>
</div>
<form id="js-settings-form" class="form-horizontal" action="/settings" method="POST">
  {{range ._Array}}
    <div class="js-setting">
      {{._Render}}
    </div>
  {{end}}
  <div class="form-group">
    <input type="submit" class="settings-save btn-lg btn-success" value="Save">
  </div>
</form>
{{template "_footer.html" .}}
