{{template "_header.html" setTitle . "Silences"}}
{{with ._}}
  {{$monitors := .monitors}}
  {{with .silence}}
    {{$new := eq .SilenceId 0}}
    <h1>{{if not $new}}Edit Silence{{else}}New Silence{{end}}</h1>
    <form id="js-silence-form" class="form-horizontal">
      <div id="js-silence-info">
        <input type="hidden" class="form-control" data-json-type="Number" name="SilenceId" value="{{.SilenceId}}">
        <div class="js-invalid-input alert alert-danger hidden"></div>
        <div class="js-server-error alert alert-warning hidden"></div>
        <div class="js-valid-input alert alert-success hidden"></div>
        <div class="silences-headers">
          <h2 class="silences-header">
            Silence for 
            {{if not $new}}
              <a href="/monitors/{{.MonitorId}}">{{.MonitorName}}</a>
              <input id="monitor" name="MonitorId" class="form-control" value="{{.MonitorId}}" type="hidden" data-json-type="Number">
            {{else}}
              <div class="silence-form">
                <select id="monitor" name="MonitorId" class="form-control" data-json-type="Number">
                  {{range $monitors}}
                    <option value="{{.MonitorId}}">{{.Name}}</option>
                  {{end}}
                </select>
              </div>
            {{end}}
          </h2>
        </div>
        <h4 class="silence-subheader">Subprobe: 
          {{if $new}}
            <div class="silence-form">
              <input type="text" name="Subprobe" class="form-control" placeholder="Subprobe">
            </div>
          {{else if .Subprobe}}
            {{.Subprobe}}
            <input id="subprobe" name="Subprobe" class="form-control" value="{{.Subprobe}}" type="hidden">
          {{else}}
            &lt;all&gt;
            <input id="subprobe" name="Subprobe" class="form-control" value="{{.Subprobe}}" type="hidden">
          {{end}}
        </h4>
        <div id="silence-bounds">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="Start">Start</label>
            <div class="col-sm-4 input-group date js-datetimepicker-start" data-time="{{.Start.Unix}}">
              <input id="start" type="text" class="form-control" name="Start">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
            <label class="col-sm-2 control-label" for="End">End</label>
            <div class="col-sm-4 input-group date js-datetimepicker-end" data-time="{{.End.Unix}}">
              <input id="end" type="text" class="form-control" name="End">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <input type="submit" class="btn js-submit-btn" {{if not (or $new .Editable)}}disabled{{end}}>
      </div>
    </form>
  {{end}}
{{end}}
{{template "_footer.html" .}}
