{{template "_header.html" setTitle . "Silences"}}
{{with ._.SaveStatus}}
  <div class="js-valid-input alert alert-success">
    <p>Successfully {{.}} silence</p>
  </div>
{{end}}
{{with ._.Silence}}
  <div class="silences-headers">
    <h1 class="silences-header">
      silence for <a href="/monitors/{{.MonitorID}}">{{.MonitorName}}</a>
      <span><a class="btn btn-primary" href="/silences/{{.SilenceID}}/edit" role="button">Edit</a></span>
    </h1>
  </div>
  <h4 class="silence-subheader">Subprobe: {{if .Subprobes}}{{.Subprobes}}{{else}}&lt;all&gt;{{end}}</h4>

  <h4>silence time:</h4>
  <span>{{.Start}}</span>
  <span style="font-weight: bold;">to</span>
  <span>{{.End}}</span>
{{end}}
{{template "_footer.html" .}}
