{{template "_header.html" .}}
<div class="silences-headers">
  <h1 class="silences-header">silences</h1>
  <a href="/silences/new/edit" class="btn btn-success new-btn">+ new</a>
</div>
<div>
  <h3>Current</h3>
  {{template "_silence-header.html"}}
  {{range .Curr}}
    {{template "_silence.html" .}}
  {{end}}
  <h3>Future</h3>
  {{template "_silence-header.html"}}
  {{range .Future}}
    {{template "_silence.html" .}}
  {{end}}
  <h3>Past</h3>
  {{template "_silence-header.html"}}
  {{range .Past}}
    {{template "_silence.html" .}}
  {{end}}
</div>
{{template "_footer.html"}}
