{{template "_header.html" setTitle . "Monitors"}}
<div class="subprobes-headers">
  <h1 class="subprobes-header">History for {{.Subprobe.Name}}</h1>
</div>
<div>
  <div class="revere-row"><div class="col-md-6">State</div><div class="col-md-6">Time Recorded</div></div>
  {{range .Readings}}
    <div class="revere-row {{if eq .State $.States.NORMAL}}bg-success{{end}}">
      <div class="col-md-6">{{.StateStr}}</div>
      <div class="col-md-6">{{.Recorded}}</div>
    </div>
  {{else}}
    None yet!
  {{end}}
</div>
{{template "_footer.html"}}
