{{template "_header.html" setTitle . "Monitors"}}
{{with ._}}
  <div class="index-headers">
    <h1 class="index-header">Subprobes for {{.Monitor.Name}}</h1>
  </div>
  <div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-6">Name</th>
          <th class="col-md-3">State</th>
          <th class="col-md-3">Duration</th>
        </tr>
      </thead>
      <tbody>
        {{range .Subprobes}}
          <tr class="{{stateClass .Status.State}}">
            <td class="col-md-6">
              <a class="{{if .Archived}}archived{{end}}" href="/monitors/{{.MonitorID}}/subprobes/{{.SubprobeID}}">{{.Name}}</a>
            </td>
            <td class="col-md-3">
              {{.Status.State}}
            </td>
            <td class="col-md-3">
              <span class="js-subprobe-entered-state" data-toggle="tooltip" title="{{.Status.EnteredState}}">{{.Status.FmtEnteredState}}</span>
            </td>
          </tr>
        {{else}}
          <h4>There are no existing subprobes for this monitor.</h4>
        {{end}}
      </tbody>
    </table>
  </div>
{{end}}
{{template "_footer.html" .}}
