{{template "_header.html" setTitle . "Monitors"}}
{{with ._}}
  {{$States := .States}}
  {{$Readings := .Readings}}
  <div class="subprobes-headers">
    <h1 class="subprobes-header">History for {{.Subprobe.Name}}</h1>
  </div>
  <div>
    {{range $key, $value := .PreviewParams}}
      <input class="js-preview-params" name="{{$key}}" value="{{$value}}" hidden>
    {{end}}
    <input class="js-preview-params" name="SubprobeName" value="{{.Subprobe.Name}}" hidden>
  </div>
  {{template "preview.html" .}}
  <br>

  <a href="/silences/new/edit?subprobes={{.Subprobe.EscapedName}}&monitorId={{.Subprobe.MonitorID}}">Create Silence for Subprobe</a>
  <div>
    <div class="revere-row"><div class="col-md-6">State</div><div class="col-md-6">Time Recorded</div></div>
    {{range $Readings}}
      <div class="revere-row
      {{if eq .State.String "Normal"}}
        bg-success
      {{else if eq .State.String "Warning"}}
        bg-warning
      {{else if eq .State.String "ERROR"}}
        bg-danger
      {{else if eq .State.String "CRITICAL"}}
        bg-critical
      {{else}}
        bg-unknown
      {{end}}">
        <div class="col-md-6">{{.StateStr}}</div>
        <div class="col-md-6">{{.Recorded}}</div>
      </div>
    {{else}}
      None yet!
    {{end}}
  </div>
{{end}}
{{template "_footer.html" .}}
