{{define "MoreScripts"}}{{end}}

<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Revere: {{.Title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/static/css/revere.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Revere</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li {{if eq .Title "Active Issues"}}class="active"{{end}}><a href="/">Active Issues</a></li>
            <li {{if eq .Title "Monitors"}}class="active"{{end}}><a href="/monitors">Monitors</a></li>
            <li {{if eq .Title "Silences"}}class="active"{{end}}><a href="/silences">Silences</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {{if .Breadcrumbs}}
      <ol class="breadcrumb">
        {{$breadcrumbs := .Breadcrumbs}}
        {{range $index, $element := .Breadcrumbs}}
          {{if isLastBc $breadcrumbs $index}}
            <li class="active">{{$element.Text}}</a></li>
          {{else}}
            <li><a href="{{$element.Link}}">{{$element.Text}}</a></li>
          {{end}}
        {{end}}
      </ol>
    {{end}}

    <div class="container">
