{{with ._}}
  <div class="form-group revere-row">
    <label class="col-sm-offset-1 col-sm-3">Name</label>
    <label class="col-sm-3">Subprobe</label>
    <label class="col-sm-5">Description</label>
  </div>
  <div class="form-group js-new-label-monitor hidden">
    <input type="checkbox" class="form-control hide" name="Create" data-json-type="Boolean" checked>
    <div class="col-sm-1">
      <button class="js-remove-new-label-monitor btn btn-default btn-block">x</button>
    </div>
    <div class="col-sm-3 name">
      <select class="form-control js-label-monitor-name" data-json-type="Number" data-id="" name="MonitorID">
        <option></option>
        {{range .AllMonitors}}
          <option value="{{.MonitorID}}" data-description="{{.Description}}">{{.Name}}</option>
        {{end}}
      </select>
    </div>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="Subprobe" value="" placeholder="all">
    </div>
    <div class="col-sm-5">
      <p class="description"></p>
    </div>
  </div>
  {{range .LabelMonitors}}
    <div class="form-group js-label-monitor">
      <input type="hidden" class="form-control js-id" data-json-type="Number" name="MonitorID" value="{{.Monitor.MonitorID}}">
      <div class="col-sm-1">
        <input type="checkbox" class="form-control hide" name="Delete" data-json-type="Boolean">
        <button class="js-remove-label-monitor btn btn-default btn-block">x</button>
      </div>
      <div class="col-sm-3">
        <p>{{.Monitor.Name}}</p>
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="Subprobes" value="{{.Subprobes}}" placeholder="all">
      </div>
      <div class="col-sm-5">
        <p>{{.Monitor.Description}}</p>
      </div>
    </div>
  {{else}}
    <h4 class="js-empty-label-monitor">There are no monitors associated with this component</h4>
  {{end}}
  <div class="form-group">
    <button id="js-add-label-monitor" class="btn btn-default">+ Add</button>
  </div>
{{end}}
