{{with ._.Trigger}}
  <div class="js-trigger-options">
    <input type="hidden" class="form-control" name="TriggerID" data-json-type="Number" value={{.TriggerID}}>
    <div class="form-group">
      <div class="col-sm-1">
        <input type="checkbox" class="form-control hide" name="Delete" data-json-type="Boolean">
        <button class="js-remove-trigger btn btn-default btn-block">x</button>
      </div>
      <label class="col-sm-1 control-label" for="LevelText">Alert on</label>
      <div class="col-sm-4">
        <select class="form-control" name="LevelText">
          <option value="ERROR" {{if strEq .Level.String "ERROR"}}selected{{end}}>ERROR</option>
          <option value="CRITICAL" {{if strEq .Level.String "CRITICAL"}}selected{{end}}>CRITICAL</option>
          <option value="Warning" {{if strEq .Level.String "Warning"}}selected{{end}}>Warning</option>
          <option value="Unknown" {{if strEq .Level.String "Unknown"}}selected{{end}}>Unknown</option>
        </select>
      </div>
      <label class="col-sm-2">no more than once every</label>
      <div class="col-sm-2">
        <input type="number" min="1" class="form-control" name="Period" data-json-type="Number" value="{{if .Period}}{{.Period}}{{else}}5{{end}}">
      </div>
      <div class="col-sm-2">
        <select class="form-control" name="PeriodType">
          <option value="second" {{if strEq .PeriodType "second"}}selected{{end}}>Second(s)</option>
          <option value="minute" {{if strEq .PeriodType "minute"}}selected{{end}}>Minute(s)</option>
          <option value="hour" {{if strEq .PeriodType "hour"}}selected{{end}}>Hour(s)</option>
          <option value="day" {{if strEq .PeriodType "day"}}selected{{end}}>Day(s)</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      {{block "subprobe" .}}{{end}}
      <label class="col-sm-2 control-label" for="TriggerOnExit">Notify on de-escalation</label>
      <div class="checkbox col-sm-1">
        <input type="checkbox" name="TriggerOnExit" data-json-type="Boolean" {{if .TriggerOnExit}}checked{{end}}>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="TargetType">Target</label>
      <div class="col-sm-4">
        <select class="form-control js-targetType" data-json-type="Number" name="TargetType">
          {{range targets}}
            <option value="{{.Id}}" {{if eq $._.Trigger.TargetType .Id}}selected{{end}}>{{.Name}}</option>
          {{end}}
        </select>
      </div>
    </div>
  </div>
  <div class="js-target">
    {{$.Target._Render}}
  </div>
{{end}}
